$color-white: #ffffff;
$color-primary:#0072ce;
$color-secondary:#1d4f91;
$color-black: #000000;
$color-button: #0b78d0;


$checkbox-background: #fff;
$checkbox-border:$color-primary;
$checkbox-checked:$color-secondary;
