



.logo{
  margin-left: 23% !important;
  letter-spacing: 3px;
  color: #9268f1;
  font-weight: bolder;
}

.primary-background-color{
  background-color: #9268f1;
}

body{
  background-color: #9268f1;
}
.header{
  background-color: #ffff;
  padding:0.5%;
}

ul > li{
  border-radius: 2px;
}

.card{
  width: 65%;
  height: 485px;
  margin-top: 12%;
  overflow-y: scroll;
  scroll-behavior: auto;
}

/****** sidebar png icons ********/
// .main-wrapper .sidebar .side-menu ul li a i{width: 50px; height: 50px; font-size: 0px;  background-size: 100%; background-position: top center; background-repeat: no-repeat; }
// .main-wrapper .sidebar .side-menu .icon-home-line{background-image: url(../images/sidebar-icons/home-line.png); }
// .main-wrapper .sidebar .side-menu .icon-home{background-image: url(../images/sidebar-icons/home-fill.png);}

// .main-wrapper .sidebar .side-menu .icon-abnormality{background-image: url(../images/sidebar-icons/abnormality-line.png);  }
// .main-wrapper .sidebar .side-menu .icon-report-fill {background-image: url(../images/sidebar-icons/abnormality-fill.png); }

// .main-wrapper .sidebar .side-menu .icon-storm-line{background-image: url(../images/sidebar-icons/storm-line.png); }
// .main-wrapper .sidebar .side-menu .icon-storm{background-image: url(../images/sidebar-icons/storm-fill.png);  }

/****** sidebar png icons end ********/

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
display: inline;
margin: 0 auto;
margin-left: -25%; //centers the image
height: 100%;
width: auto;
}